<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Rx</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css">

    </head>
    <body ng-app="rxModule">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="app" ng-controller="BaseCtrl">
            <div class="header-container">
                <header class="wrapper clearfix">
                    <h1 class="title">Rx</h1>
                    <nav>

                        <button onclick="document.getElementById('input-file').click()"
                                class="btn btn-secondary"
                                ng-show="WebApp.show.fileinput">
                            <i class="fas fa-upload"></i> Select files
                        </button>
                        <div ng-show="WebApp.show.fileinputLoader">
                            <i class="fas fa-spinner fa-spin"></i>
                        </div>

                        <input id="input-file" type="file" multiple class="hidden"
                               ng-file-uploader
                               ng-change="WebApp.selectFiles(this.files)"
                               ng-model="sFiles"
                               ng-disabled="WebApp.disableFileinput"
                               selected-files="WebApp.selectedFiles">

                        <button id="save-button" class="btn btn-primary"
                                ng-show="WebApp.showSaveBtn"
                                ng-click="WebApp.saveFiles()">
                            <i class="fas fa-save"></i> Save
                        </button>

                        <button id="save-button" class="btn btn-info"
                                ng-show="WebApp.show.seeKeysBtn"
                                ng-click="WebApp.showSeeKeysModal()">
                            <i class="fas fa-eye"></i> See Keys
                        </button>
                        {{WebApp.currentAction}}
                    </nav>
                </header>
            </div>

            <div id="dwv" class="main-container" ng-controller="ViewerCtrl">
              <nav class="toolbar">
                <div class="wrapper">
                  <button class="btn btn-default btn-sm"><i class="fas fa-clone"></i> Scroll</button>
                  <button class="btn btn-default btn-sm"><i class="fas fa-search-plus"></i> Zoom</button>
                  <button class="btn btn-default btn-sm"><i class="fas fa-hand-paper"></i> Pan</button>
                  <div class="btn-group" uib-dropdown>
                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-signal"></i> Levels</button>
                    <button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
                      <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" uib-dropdown-menu>
                      abc
                    </div>
                  </div>
                  <div class="btn-group" uib-dropdown>
                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-pencil-alt"></i> Draw</button>
                    <button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
                      <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" uib-dropdown-menu>
                      abc
                    </div>
                  </div>
                  <button class="btn btn-default btn-sm"><i class="fas fa-tag"></i> Tags</button>
                  <button class="btn btn-default btn-sm"><i class="fas fa-info-circle"></i> Info</button>
                  <button class="btn btn-default btn-sm"><i class="fas fa-comment"></i> Comments</button>

                </div>
              </nav>
                <div class="main wrapper clearfix">
                    <section>
                        <article id="app-main">
                          <div class="layerContainer">
                            <canvas class="imageLayer"></canvas>
                            <!--                                    <div class="drawDiv"></div>-->
                            <div class="infoLayer">
                              <div class="infotl">a</div>
                              <div class="infotc">b</div>
                              <div class="infotr">c</div>
                              <div class="infocl">d</div>
                              <div class="infocr">e</div>
                              <div class="infobl">w</div>
                              <div class="infobc">f</div>
                              <div class="infobr" style="bottom: 64px;"></div>
                              <div class="plot"></div>
                            </div>

                            <!-- Toolbox -->
                            <div class="toolList" title="Toolbox">
                              <ul></ul>
                            </div>

                            <!-- Tags -->
                            <div class="tags" title="Tags"></div>
                            <!-- History -->
                            <div class="history" title="History"></div>

                            <!-- DrawList -->
                            <div class="drawList" title="Draw list"></div>
                          </div>

                        </article>

                        <aside id="app-column" ng-show="ViewerApp.showColumn">
                            <ul>
                                <li><img style="width:100px;height:100px;background:#ccc;"></li>
                            </ul>
                        </aside>
                    </section>

                </div>
            </div> <!-- #viewer.main-container -->

            <div class="footer-container">

                <footer class="wrapper">
                    <h3>footer</h3>
                </footer>
            </div>

            <!-- Modal -->
            <script type="text/ng-template" id="ModalShowKeys.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-show-keys-title">Access to the files</h3>
                </div>
                    <div class="modal-body">
                        <div>
                            URL: <a href="{{WebApp.fullUrl}}" target="_blank">{{WebApp.fullUrl}}</a>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control input-passwort" autocomplete="off" disabled="disabled"
                                    ng-model="WebApp._keyWords[0]"><br>
                            <input type="text" class="form-control input-passwort" autocomplete="off" disabled="disabled"
                                    ng-model="WebApp._keyWords[1]"><br>
                            <input type="text" class="form-control input-passwort" autocomplete="off" disabled="disabled"
                                    ng-model="WebApp._keyWords[2]"><br>
                            <input type="text" class="form-control input-passwort" autocomplete="off" disabled="disabled"
                                    ng-model="WebApp._keyWords[3]">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" ng-click="$modalCtrl.close()">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="WebApp.showPrintable()">
                            <i class="fas fa-print"></i> Print
                        </button>
                    </div>
            </script><!-- /#modal-show-keys -->

            <script type="text/ng-template" id="ModalInsertKeys.html">
              <form>
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-insert-keys-title">Insert Keys</h3>
                </div>
                  <div class="modal-body">
                      <div class="form-group">
                          <input type="password" class="form-control input-passwort" autocomplete="off"
                                  ng-model="WebApp._keyWords[0]"><br>
                          <input type="password" class="form-control input-passwort" autocomplete="off"
                                  ng-model="WebApp._keyWords[1]"><br>
                          <input type="password" class="form-control input-passwort" autocomplete="off"
                                  ng-model="WebApp._keyWords[2]"><br>
                          <input type="password" class="form-control input-passwort" autocomplete="off"
                                  ng-model="WebApp._keyWords[3]">
                      </div>
                      <div class="alert alert-danger" ng-show="WebApp.errors.decrypt.length">
                        {{WebApp.errors.decrypt}}
                      </div>
                  </div>
                  <div class="modal-footer">
                      <!-- close modal -->
                      <button type="button" class="btn btn-secondary"
                              ng-click="$modalCtrl.close()">Close</button>

                      <!-- submit btn -->
                      <button type="submit" class="btn btn-primary"
                              ng-click="WebApp.decryptFiles()"
                              ng-show="!WebApp.show.decryptLoader">See Files</button>

                      <!-- decrypt loader -->
                      <button class="btn btn-primary btn-disabled" disabled
                              ng-show="WebApp.show.decryptLoader">
                          <i class="fas fa-spinner fa-spin"></i>
                      </button>
                  </div>
                </form>
            </script><!-- /#modal-insert-keys -->

            <script type="text/ng-template" id="ModalDefaultMsg.html">
              <form>
                  <div class="modal-body">
                      <div class="alert alert-danger" ng-show="WebApp.modalMsg.error.length">
                        {{WebApp.modalMsg.error}}
                      </div>
                  </div>
                  <div class="modal-footer">
                      <!-- close modal -->
                      <button type="button" class="btn btn-secondary"
                              ng-click="$modalCtrl.close()">Close</button>
                  </div>
                </form>
            </script><!-- /#modal-insert-keys -->


        </div><!-- /#app -->


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.6.10/angular-animate.min.js"></script>
        <script src="https://code.angularjs.org/1.6.10/angular-touch.min.js"></script>
        <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
        <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

<script type="text/javascript" src="node_modules/dwv/node_modules/i18next/i18next.min.js"></script>
<script type="text/javascript" src="node_modules/dwv/node_modules/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
<script type="text/javascript" src="node_modules/dwv/node_modules/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
<!--
<script type="text/javascript" src="node_modules/dwv/node_modules/jszip/dist/jszip.min.js"></script>
<!-- decoders --
<script type="text/javascript" src="node_modules/dwv/decoders/pdfjs/jpx.js"></script>
<script type="text/javascript" src="node_modules/dwv/decoders/pdfjs/util.js"></script>
<script type="text/javascript" src="node_modules/dwv/decoders/pdfjs/arithmetic_decoder.js"></script>
<script type="text/javascript" src="node_modules/dwv/decoders/pdfjs/jpg.js"></script>
<script type="text/javascript" src="node_modules/dwv/decoders/rii-mango/lossless-min.js"></script>
-->


        <script type="text/javascript" src="node_modules/dwv/node_modules/konva/konva.min.js"></script>
        <script type="text/javascript" src="node_modules/dwv/decoders/rii-mango/lossless-min.js"></script>
        <!-- dwv -->
        <script type="text/javascript" src="node_modules/dwv/dist/dwv.js"></script>

        <script src="js/app/viewer.js"></script>
        <script src="js/app/app.js"></script>
        <script src="js/app/services.js"></script>

        <!-- encryption -->
        <script type="text/javascript" src="js/vendor/xkcd-pw.js"></script>
    </body>
</html>
