<div id="app-dwv-viewer">
  <nav class="toolbar">
    <div class="wrapper">
      <div ng-repeat="tool in ViewerApp.tools" class="inline">
        <button class="btn btn-default btn-sm"
                ng-class="{'active':ViewerApp.activeTool==tool.value || tool.active}"
                ng-value="tool.value"
                ng-click="ViewerApp.changeTool($event)"
                ng-disabled="tool.disabled">
                <i class="fas fa-{{tool.ico}}"></i> {{tool.label}}
        </button>
      </div>
      <!--
      <div class="btn-group" uib-dropdown>
        <button type="button" class="btn btn-default btn-sm" value="WindowLevel" ng-click="changeTool($event)"><i class="fas fa-signal"></i> Levels</button>
        <button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
          <span class="caret"></span>
        </button>
        <div class="dropdown-menu" uib-dropdown-menu>
          abc
        </div>
      </div>
-->
    </div>
  </nav>
    <section id="app-content" class="clearfix">
        <article id="app-main" class="split split-horizontal">
          <div class="layerContainer">
<!--                <div class="dropBox"></div>-->
            <canvas class="imageLayer"></canvas>
            <!-- <div class="drawDiv"></div>-->
            <div class="infoLayer">
              <div class="infotl"></div><div class="infotc"></div>
              <div class="infotr"></div><div class="infocl"></div>
              <div class="infocr"></div><div class="infobl"></div>
              <div class="infobc"></div>
              <div class="infobr" style="bottom: 64px;"></div>
            </div>
          </div>
        </article>

        <aside id="app-column" class="split split-horizontal">
            <div class="files-list">
              <div  id="{{'app-thumb-'+item.id}}" class="app-thumb"
                    ng-repeat="item in arrFiles"
                    on-finish-render="renderThumbnailApps"
                    ng-click="ViewerApp.openFile(item)">
                  <div class="layerContainer" style="width:100px;height:100px;">
                    <canvas class="imageLayer"></canvas>
                  </div>
                  {{item.name}}
              </div>
            </div><!-- /.files-list -->
        </aside>
    </section>
</div> <!-- #viewer.main-container -->
