<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Rx</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css">

    </head>
    <body ng-app="rxModule">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="app" ng-controller="BaseCtrl">
            <div id="app-header" class="header-container">
                <header class="wrapper clearfix">
                    <h1 class="title">Rx</h1>
                    <nav>
                      <!-- encrypt & save -->
                      <button id="save-button"
                              class="btn btn-primary btn-sm"
                              ng-show="WebApp.show.saveBtn"
                              ng-click="WebApp.saveAndEncrypt()">
                          <i class="fas fa-save"></i> Save
                      </button>

                      <!-- get link and keys -->
                      <button id="keys-button" class="btn btn-info"
                              ng-show="WebApp.show.seeKeysBtn"
                              ng-click="WebApp.showSeeKeysModal()">
                          <i class="fas fa-eye"></i> Get Link &amp; Keys
                      </button>

                      <!-- demo btn --
                       <button  ng-click="WebApp.startDemo()"
                                ng-show="WebApp.show.demoBtn"
                                class="btn btn-info btn-sm">
                         <i class="fas fa-eye"></i> Demo
                       </button>
                       &nbsp;
                       <!-- /demo btn -->

                      <!-- files input -->
                      <input id="input-file" type="file" multiple class="hidden"
                             ng-file-uploader
                             ng-change="WebApp.selectFiles(this.files)"
                             ng-model="sFiles"
                             uploaded-files="WebApp.uploadedFiles"
                             loading="WebApp.show.headerLoader">
                      <!-- select files btn -->
                       <button  id="btn-select-files"
                                onclick="document.getElementById('input-file').click()"
                                class="btn btn-secondary btn-sm"
                                ng-show="WebApp.show.fileinput">
                           <i class="fas fa-upload"></i> Select files
                       </button>

                       <!-- help btn -->
                        <button  class="btn btn-link btn-sm"
                                 ng-click="WebApp.showHelpModal()">
                          <i class="fas fa-info-circle text-muted"></i>
                        </button>
                        &nbsp;

                        <!-- loader -->
                        <div ng-show="WebApp.show.headerLoader" class="header-loader">
                            <i class="fas fa-spinner fa-spin"></i>
                            <span class="current-action">{{WebApp.currentAction}}</span>
                        </div>
                    </nav>
                </header>
            </div>

            <div class="main-container">
              <!-- Viewer -->
              <ng-viewer id="viewerapp"
                          current-file="WebApp.currentFile"
                          arr-files="WebApp.arrFiles"></ng-viewer>

            </div>

            <!-- Modals -->
            <script type="text/ng-template" id="ModalTags.html"></script><!-- /#modal-tags -->

            <!-- Tutorial Walkthrough -->
            <div ng-repeat="step in WebApp.tutorial.steps">
              <walkthrough
                  wid="{{step.id}}"
                  walkthrough-type="transparency"
                  is-active="step.active"
                  focus-element-selector="{{step.elm}}"
                  main-caption="{{step.caption}}"
                  on-walkthrough-hide="WebApp.tutorial.goToNextStep()"
                  use-button="true"
                  button-caption="Next">
              </walkthrough>
            </div>

        </div><!-- /#app -->


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.6.10/angular-animate.min.js"></script>
        <script src="https://code.angularjs.org/1.6.10/angular-touch.min.js"></script>
        <script type="text/javascript" src="js/vendor/ui-bootstrap.js"></script>
        <script type="text/javascript" src="js/vendor/ui-bootstrap-tpls.js"></script>

<script type="text/javascript" src="js/vendor/dwv/node_modules/i18next/i18next.min.js"></script>
<script type="text/javascript" src="js/vendor/dwv/node_modules/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
<script type="text/javascript" src="js/vendor/dwv/node_modules/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
<!--
<script type="text/javascript" src="node_modules/dwv/node_modules/jszip/dist/jszip.min.js"></script>
<!-- decoders --
<script type="text/javascript" src="node_modules/dwv/decoders/pdfjs/jpx.js"></script>
<script type="text/javascript" src="node_modules/dwv/decoders/pdfjs/util.js"></script>
<script type="text/javascript" src="node_modules/dwv/decoders/pdfjs/arithmetic_decoder.js"></script>
<script type="text/javascript" src="node_modules/dwv/decoders/pdfjs/jpg.js"></script>
-->


        <script type="text/javascript" src="js/vendor/dwv/node_modules/konva/konva.min.js"></script>
        <script type="text/javascript" src="js/vendor/dwv/decoders/rii-mango/lossless-min.js"></script>
        <!-- dwv -->
        <script type="text/javascript" src="js/vendor/dwv/dist/dwv.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.5.9/split.min.js"></script>

        <script src="js/vendor/ng-walkthrough/ng-walkthrough.js"></script>
        <link href="js/vendor/ng-walkthrough/ng-walkthrough.css" rel="stylesheet">

        <script src="js/app/app.js"></script>
        <script src="js/app/viewer.js"></script>
        <script src="js/app/services.js"></script>

        <!-- encryption -->
        <script type="text/javascript" src="js/vendor/xkcd-pw.js"></script>
    </body>
</html>
