<form name="FormInsertKeys">
  <div class="modal-header">
      <h3 class="modal-title" id="modal-insert-keys-title">Insert Keys</h3>
  </div>
    <div class="modal-body form-inline">
        <div class="form-group insert-keywords wrapper">
            <input type="text" class="form-control input-passwort"
                    autocomplete="off" required
                    ng-model="WebApp._keyWords[0]"
                    ng-disabled="WebApp.show.decryptLoader"> -
            <input type="text" class="form-control input-passwort"
                    autocomplete="off" required
                    ng-model="WebApp._keyWords[1]"
                    ng-disabled="WebApp.show.decryptLoader"> -
            <input type="text" class="form-control input-passwort"
                    autocomplete="off" required
                    ng-model="WebApp._keyWords[2]"
                    ng-disabled="WebApp.show.decryptLoader"> -
            <input type="text" class="form-control input-passwort"
                    autocomplete="off" required
                    ng-model="WebApp._keyWords[3]"
                    ng-disabled="WebApp.show.decryptLoader">
        </div>
    </div>
    <div class="modal-footer">
      <div class="alert alert-danger wrapper" ng-show="WebApp.errors.decrypt.length">
        {{WebApp.errors.decrypt}}
      </div>

        <!-- close modal/go to app index -->
        <a class="btn btn-secondary" href="{{WebApp.baseUrl}}">Cancel</a>

        <!-- submit btn -->
        <button type="submit" class="btn btn-primary"
                ng-click="WebApp.decryptFiles()"
                ng-show="!WebApp.show.decryptLoader"
                ng-disabled="FormInsertKeys.$invalid">See Files</button>

        <!-- decrypt loader -->
        <button class="btn btn-primary btn-disabled" disabled
                ng-show="WebApp.show.decryptLoader">
            <i class="fas fa-spinner fa-spin"></i>
        </button>
        <span class="current-action">{{WebApp.currentAction}}</span>
    </div>
  </form>
