<div class="modal-header">
  <h3 class="modal-title" id="modal-show-keys-title">Access to the files</h3>
</div>
<div class="modal-body">
  <div>
    URL: <a href="{{WebApp.fullUrl}}" target="_blank">{{WebApp.fullUrl}}</a>
  </div>

  <div class="form-group">
    Password:
    <div class="alert-keywords alert alert-info">
      <h2>{{WebApp._keyWords.join('-')}}</h2>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" ng-click="$modalCtrl.close()">Close</button>
  <button type="button" class="btn btn-primary" ng-click="WebApp.showPrintable()">
    <i class="fas fa-print"></i> Print
  </button>
</div>
